{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="https://forms.gle/qJbrBPSfsZqcyyvD9" target="_blank" role="button">참가신청<br>(기한:12월 24일)</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">참가대상 🧑‍🎓</h2>
        <p>학부 및 대학원 재학생</p><p>(이학 및 공학 계열 박사학위 소지자는 출전 불가)</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">팀구성 🧑‍🤝‍🧑</h2>
        <p>2인 이하 x 17팀</p>
        <p>신청팀이 많을 경우 심사를 통해 참가팀 선발</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">경진대회 수상 🏆</h2>
        <p>1등팀: iPad mini x 팀원수</p>
        <p>2등팀: 애플 워치 SE or 갤럭시 워치 택1 x 팀원수</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">숙박 및 식사 🛏️ 🍽️</h2>
        <p>행사 기간 중 제공</p>
        <p>1인 1실</p>
        <p>월요일 저녁식사 - 금요일 아침식사</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">COVID-19 방역수칙 😷</h2>
        <p><a href="/docs/general/quarantine/">방역패스 조건</a>을 만족하는 사람만 참가 가능</p>
        <p>현장등록 시 COOV 앱 확인 또는 예방접종 증명서 제출</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">주최 🏢</h2>
        <p><a href="https://www.nims.re.kr" target="_blank">국가수리과학연구소</a></p>
        <p><a href="https://www.kasi.re.kr" target="_blank">한국천문연구원</a></p>
        <p><a href="https://unist-kor.unist.ac.kr" target="_blank">울산과학기술원</a></p>
        <p><a href="http://www.kgwg.org" target="_blank">한국중력파연구협력단</a></p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
